@charset "utf-8";
/* CSS Document */
.c-frm{ position:fixed; background: rgba(0, 0, 0, 0.4); z-index:99999; width:100%; height:100%;}
.close-btn{ position:absolute; top:-30px; right:-30px; font-size:30px; color:#fff; z-index:99999999; cursor:pointer}
.frm-login{ position:relative}
 
.frm-login{
	width: 550px; margin: 70px auto 30px;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
	background:#fff;
 
	 
}
.btn-violet {
    background: #7F5CE6;
    color: #fff;
}
.frm-login .tabs li a{ width:50%; float:left; margin:0; border:0 !important; text-align:center; font-size:16px; text-transform:uppercase; font-weight:bold; white-space:nowrap; line-height:70px;    background-color: #dedede;}
.frm-login div.tabcontents{ border:0}
 

.frm-login ul.tabs{ padding:0}

.row-frm{ padding:10px 20px;border-bottom: solid 1px #ddd}
.frm-login .txt{ width:100%; height:40px; padding:10px; border: solid 1px #ddd; margin-top:5px}

.frm-login .tabcontents{ padding:0}
.frm-login .tabcontents p{margin: 10px;line-height: 0px;padding:8px 20px; border-bottom: solid 1px #ddd}
.frm-login .tabcontents .title-frm{ text-align:center; padding: 20px;}
.btn-login{ width:100%; float:right; height:50px; border:0; padding:0}

.icon-cn{ width:10%; line-height:50px; text-align:center; height:50px; background:#283D68}
.icon-cn i{ line-height:50px; color:#fff; font-size:15px}
.txt-cn{ line-height:50px; width:90%; text-align:center; background:#3B5998; color:#fff}
.icon-gp{ background:#B52F1F}
.txt-gp{ background:#DD4B39}
.frm-login label{line-height: 14px;}
@media screen and (max-width: 760px) {
	.frm-login{ width:100%}
	.nav a{padding: 0.2em 1em;}
}