@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PetsLayout.cshtml";
}
@*<section class="content-header">
         <h1>
             User Feed
         </h1>
        <ol class="breadcrumb">
             <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
             <li><a href="#">Examples</a></li>
             <li class="active">User profile</li>
         </ol>
    </section>*@

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">

            @Html.Partial("~/Views/Post/Index.cshtml", new Pet2Share_Web.Models.PostModal(Pet2Share_Web.BL.BLPetCookie.Instance.GetCurrentPetId(), false))


            <div id="feedContainer">
                @Html.Partial("_FeedPartial", new Pet2Share_Web.Models.FeedModel() { PostList = new List<Pet2Share_API.Domain.Post>(), IsUser = false })
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="text-center">
                        <p id="noPostElement" class="text-muted center">No Posts to show</p>
                        <p id="loading"><img width="16px" src="@Url.Content("~/Content/loading.gif")"></p>

                        <p id="noMorePostsElement" style="display:none" class="text-muted center">No more posts to show</p>
                        <p id="btnLoadMore" style="display:none"><button id="btnload" class="btn-primary btn-sm" onclick="loadFeed(); return false;">See More</button>     </p>
                    </div>
                </div>


            </div>

        </div><!-- /.col -->

    </div><!-- /.row -->

</section><!-- /.content -->

<script type="text/javascript">

    var page = 1;
    var _inCallback = false;

    function loadFeed() {
        try {


            if (page > 0 && !_inCallback) {
                _inCallback = true;

                $('p#loading').show();
                $.get("/PetFeed/Index?Id=" + page, function (data) {

                    if (data != '') {
                        $("#feedContainer").append(data);
                        $('p#noPostElement').hide();
                        $('p#btnLoadMore').hide();
                        $('p#noMorePostsElement').hide();
                        page++;
                    }
                    else {
                        //show load more button
                        $('p#btnLoadMore').show();
                        $('p#noMorePostsElement').show();

                    }

                    _inCallback = false;
                    $('p#loading').hide();
                    if (data.trim() != '') {
                        CheckIfMoreFeedsNeeded();
                    }

                }).fail(function () {
                    $('p#loading').hide();
                    _inCallback = false;
                    setTimeout(function () {
                        loadFeed();
                    }, 5000);
                });
            }
        }
        catch (ex) {
            $('p#loading').hide();
            _inCallback = false;
            setTimeout(function () {
                loadFeed();
            }, 5000);
        }
    }

    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            loadFeed();
        }
    });

    $(function () {

        $('.sidebar-menu li').removeClass('active');
        $('.menuNewsfeed').addClass('active');
        loadFeed();

    });

    function CheckIfMoreFeedsNeeded() {
        if ($("body").height() <= $(window).height()) {
            loadFeed()
        }

    }


    function LoadComments(PostId) {
        var PostIdtoLoad = PostId;
        $.ajax({
            type: "POST",
            url: "/post/GetComments",
            data: { "PostId": PostId },
            success: function (data) {
                if (data.CommentData != null || data.CommentData != undefined) {
                    $('#divComment_' + PostId).empty().append(data.CommentData);
                    $('#divComment_' + PostId).show();

                    $("#spnCommentCount_" + PostId).text($(data.CommentData).find("div").length);
                }
                else if (data.Error == null || data.Error == undefined) {

                }
                // $("#btnLoadComment_" + PostId).hide();
            },
            fail: function () {

            }, done: function (msg) {
                alert("Data Saved: " + msg);
            }

        });
    }

    function IncreaseCommentCount(postId, commentCount) {

        var count = parseInt($("#spnCommentCount_" + postId).text());

        ++count;

        $("#spnCommentCount_" + postId).text(count);
    }
    function DecreaseCommentCount(postId) {
        debugger;
        var count = parseInt($("#spnCommentCount_" + postId).text());

        --count;
        if (count <= 0) {
            $("#divComment_" + postId).hide();
        }
        else {
            $("#spnCommentCount_" + postId).text(count);
        }
    }

    function DeletePost(postId, IsPet) {
        $.ajax({
            type: "POST",
            url: "/post/DeletePost",
            data: {
                "postId": postId,
                "IsPet": IsPet
            },
            success: function (data) {
                if (data.Success != null || data.Success != undefined) {
                    $('#divPost_' + postId).remove();
                }
                else if (data.Error == null || data.Error == undefined) {
                    alert(data.Error);
                }
            },
            fail: function () {
                alert("something went wrong;");
            }, done: function (msg) {

            }

        });
    }

    function DeleteComment(commentId, postId) {
        $.ajax({
            type: "POST",
            url: "/post/DeleteComment",
            data: {
                "commentId": commentId
            },
            success: function (data) {
                debugger;
                if (data.Success != null || data.Success != undefined) {
                    $('#divCommentItem_' + commentId).remove();
                    DecreaseCommentCount(postId);
                }
                else if (data.Error == null || data.Error == undefined) {
                    alert(data.Error);
                }
            },
            fail: function () {
                alert("something went wrong;");
            }, done: function (msg) {

            }

        });
    }

</script>