<ul class="sidebar-menu">
    <li class="header">Quick Links</li>
    <li class="treeview menuNewsfeed">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>News Feed</span>
        </a>

    </li>
    <li class="treeview menuProfile">
        <a href="~/Profile">
            <i class="fa fa-user"></i>
            <span>Profile</span>

        </a>

    </li>
    <li class="treeview menuPets">
        <a href="~/Pets">
            <i class="fa fa-paw"></i>
            <span>Pets</span>

        </a>

    </li>
   
</ul>