<ul class="sidebar-menu">
    <li class="header">Quick Links</li>
    <li class="treeview menuNewsfeed">
        <a href="~/PetFeed">
            <i class="fa fa-dashboard"></i> <span>News Feed</span>
        </a>

    </li>
    <li class="treeview menuProfile">
        <a href="@Url.Action("Details", "Pet", new {@id=Pet2Share_Web.BL.BLPetCookie.Instance.GetCurrentPetId() })">
            <i class="fa fa-user"></i>
            <span>My Profile</span>

        </a>

    </li>
    <li class="treeview menuConnection">
        <a href="~/Connection">
            <i class="fa fa-users"></i>
            <span>My Connections</span>

        </a>

    </li>
    <li class="treeview menuSearch">
        <a href="~/Search">
            <i class="fa fa-search"></i>
            <span>Search</span>

        </a>

    </li>

</ul>